// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:     'Global-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base:           $font-family-sans-serif;

$font-size-root:    16px;

$line-height:       1.4;

// Body
//
// Settings for the `<body>` element.
$body-color: #808587;
$body-bg: #fff;

// Links
//
// Style anchor elements.
$link-color:                 #C0C907;
$link-decoration:            none;
$link-hover-color:           darken($link-color, 15%);
$link-hover-decoration:      underline;
